:root{
    --color-azul: rgb(0, 0, 190);
}

/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #000000;
    overflow-x: hidden;
    height: 100%;
}

/* Espaciadores */
.cuadro_negro {
    height: 40px;
}

.degradado_azul_negro {
    background: linear-gradient(var(--color-azul), black);
    height: 20px;
}

/* Navegación */
nav {
    background-color: var(--color-azul);
    padding: 20px 100px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    opacity: 0.7;
}

.proyectos{
    color: white;
    margin: 100px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.cuadro{
    border: solid 1px white;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.cuadro:hover{
    transform: scale(1.1);
    background-color: rgba(0, 0, 190, 0.068);
    border: solid 2px var(--color-azul);
}





footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(27, 27, 27);
    text-align: center;
    color: white;
    padding: 30px;
}